Build started...
Build succeeded.
BEGIN TRANSACTION;
ALTER TABLE [Doctors] ADD [SpecializationId] nvarchar(450) NULL;

CREATE TABLE [Specializations] (
    [Id] nvarchar(450) NOT NULL,
    [Name] nvarchar(100) NOT NULL,
    [TranslationKey] nvarchar(100) NOT NULL,
    [Category] nvarchar(100) NOT NULL,
    CONSTRAINT [PK_Specializations] PRIMARY KEY ([Id])
);

IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Category', N'Name', N'TranslationKey') AND [object_id] = OBJECT_ID(N'[Specializations]'))
    SET IDENTITY_INSERT [Specializations] ON;
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Category', N'Name', N'TranslationKey') AND [object_id] = OBJECT_ID(N'[Specializations]'))
    SET IDENTITY_INSERT [Specializations] OFF;

CREATE INDEX [IX_Doctors_SpecializationId] ON [Doctors] ([SpecializationId]);

ALTER TABLE [Doctors] ADD CONSTRAINT [FK_Doctors_Specializations_SpecializationId] FOREIGN KEY ([SpecializationId]) REFERENCES [Specializations] ([Id]) ON DELETE SET NULL;

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260627144137_AddSpecializationsTable', N'9.0.17');

COMMIT;
GO


